<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj nową pozycję zamówień</title>

    <link rel="stylesheet" href="../../CSS/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">

    <script type="application/javascript" src="../../JS/validationCommon.js"></script>
    <script type="application/javascript" src="../../JS/walidacjaPozycjiZamowien.js"></script>


</head>

<body>

    <header>
        <h1>TomoTechShop</h1>
        <img src="../../Images/LogoBlack.PNG" alt="Images shows logo TomoTechShop">
    </header>

    <nav>
        <ul>
            <li><a href="../../index.html">Strona główna</a></li>
            <li><a href="../Produkt/ListaProduktow.ejs">Produkty</a></li>
            <li><a href="../Zamówienia/ListaZamówień.html">Zamówienia</a></li>
            <li><a href="../PozycjaZamówień/ListaPozycjiZamówień.html">Pozycja zamówień</a></li>

        </ul>
    </nav>

    <main>
        <h2>Nowa pozycja zamówienia</h2>
        <form class="form" action="DodajNowąPozycjęZamówień" novalidate onsubmit="return validateForm()">
                <label for="Zamówienie">Kupiec:<sup>*</sup></label>
                <select name="Zamówienie" id="Zamowienie">
                    <option value="">--- Wybierz klienta ---</option>
                    <option value="IdKlient1">Jan Kowalski</option>
                    <option value="IdKlient2">Adam Nowak</option>
                    <option value="IdKlient3">Grzegorz Brzęczyszczykiewicz</option>
                </select>
                <span id="errorZamowienie" class="errors-text"></span>

                <label for="Produkt">Nazwa produktu:<sup>*</sup></label>
                <select name="Produkt" id="Produkt">
                    <option value="">--- Wybierz produkt ---</option>
                    <option value="IdProdukt1">Play Station 5</option>
                    <option value="IdProdukt2">Nintendo Switch</option>
                    <option value="IdProdukt3">Corsair K55 RGB</option>
                </select>
                <span id="errorProdukt" class="errors-text"></span>

                <label for="Rabat">Rabat(%):</label>
                <input type="number" name="Rabat" id="Rabat" />
                <span id="errorRabat" class="errors-text"></span>

                <label for="Ilość">Ilość:<sup>*</sup></label>
                <input type="number" name="Ilość" id="Ilosc" />
                <span id="errorIlosc" class="errors-text"></span>

            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <input class="form-button-submit" type="submit" value="Dodaj" />
                <a href="ListaPozycjiZamówień.html" class="form-button-cancel">Anuluj</a>
            </div>
        </form>
    </main>

    <a class="BackToTopHref" href="#top">
        <div class="BackToTop">
            Powróć na samą góre strony
        </div>
    </a>

    <footer>
        Tomasz Palczewski, s18969
    </footer>


</body>

</html>