<%- include('../../fragments/headerForNoIndexPage.ejs') %>

    <main>
        <h2>Lista pozycji zamówień</h2>
        <div class="lista" >
        <table class="table-list">
            <thead>
                <tr>
                    <th scope="col">Imie</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Ilość</th>
                    <th scope="col">Nazwa produktu</th>
                    <th scope="col">Akcje</th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    <td data-label="Imie">Jan</td>
                    <td data-label="Nazwisko">Kowalski</td>
                    <td data-label="Ilość">1</td>
                    <td data-label="Nazwa produktu">Play Station 5</td>
                    <td data-label="Akcje">
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="/PozycjaZamowien/details/:empId">Szczegóły</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td scope="row" data-label="Imie">Adam</td>
                    <td data-label="Nazwisko">Nowak</td>
                    <td data-label="Ilość">1</td>
                    <td data-label="Typ produktu">Nintendo Switch	</td>
                    <td data-label="Akcje">
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="">Szczegóły</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td scope="row" data-label="Imie">Grzegorz</td>
                    <td data-label="Nazwisko">Brzęczyszczykiewicz</td>
                    <td data-label="Ilość">1</td>
                    <td data-label="Typ produktu">Corsair K55 RGB</td>
                    <td data-label="Akcje">
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="">Szczegóły</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>


            </tbody>
        </table>
        </div>
    </main>

    <p><a class="button-add" href="/PozycjaZamowien/add">Dodaj nową pozycję zamówień</a></p>

    <%- include('../../fragments/footer.ejs') %>
