* {

    box-sizing: border-box;
    font-family: 'Itim', cursive;
    font-size: 22px;
}


html {
    background-color: #ecf0f1;
}


body {
    min-width: 600px;
}

header,
main,
footer {
    background-color: white;
}

header,
main,
footer,
nav {
    margin: 1rem;
    border-radius: 15px

}

header,
footer {
    background-color: #34495e;
    color: white;
    padding: 1rem;
}

header {
    overflow: auto;
}

header h1 {
    float: left;
    font-size: 3rem;
    padding: 25px;
    font-family: 'Comfortaa', cursive, sans-serif;


}

h2 {
    font-size: 1.8rem;
}


a{
    cursor:url(../Images/pointer.png), pointer;
    transition: cursor .3s;
}

a:active{
    cursor:url(../Images/pointer-click.png), pointer;
}


.MainPage h2, p, span{
    font-family: 'Open Sans', sans-serif;
}

.MainPage span{
    text-decoration: underline;
}

header img {
    float: right;
    height: 200px;
    border-radius: 5px;
}

nav {
    background-color: #bdc3c7;
    position: sticky;
    top: 0;

}

nav ul {
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: inline-block;
    color: #2c3e50;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: background-color .5s;
    border-radius: 15px;
}

nav ul li a:hover {
    background-color: #4293b9;
    color: #ecf0f1;
    

}


nav ul li a.active {
    background-color: #95a5a6;
    color: #ecf0f1;
    border-radius: 15px;
}

main {
    padding: 1.5rem;
}


footer {
    text-align: center;
}


.MainParagraph {
    font-size: 1.1rem;
    font-weight: 700;
}

main h2 {
    border-bottom: 1px solid #7f8c8d;
    margin-bottom: 2rem;
}

.table-list {
    border-collapse: collapse;
    color: #2c3e50;
    width: 100%;
}

.table-list,
.table-list th,
.table-list td {
    border: 1px solid #ecf0f1;
}

.table-list th,
.table-list td {
    padding: 0.5rem;
}

.table-list th,
.table-list tbody tr:nth-child(even) {
    background-color: #ecf0f1;
}

.list-actions {
    margin: 0;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.list-actions li {
    display: inline-block;
    /* Ułożenie elementów listy w poziomie: */

}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    transition: background-color .3s;

}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete {
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;

}

.list-actions-button-details,
.list-actions-button-edit {
    margin-right: 1rem;
}



.list-actions-button-details {
    background-color: #2980b9;


}

.list-actions-button-details:hover {
    background-color: #3498db;
}


.list-actions-button-edit {
    background-color: #f39c12;


}

.list-actions-button-edit:hover {
    background-color: #f1c40f;

}

.list-actions-button-delete {
    background-color: #c0392b;

}

.list-actions-button-delete:hover {
    background-color: #e74c3c;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.button-add {
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
}

.button-add {
    padding: 0.5rem 2rem;
    margin: 1rem;

}


.button-add {
    background-color: #27ae60;
    transition: background-color .3s;

}

.button-add:hover {
    background-color: #2ecc71;
}


button, 
input, 
select, 
textarea { 
    font-family: inherit; 
    font-size: 100%; 
    box-sizing: border-box; 
    padding: 0; margin: 0; 
} 

textarea { 
    overflow: auto; 
}

.form {
    margin-left: 2rem;
    width: 300px;
    
}

.form select, 
.form input[type="text"],
.form input[type="number"],
.form input[type="date"],
.form input[type="email"], 
.form input[type="tel"] {
    border: 1px solid #7f8c8d;
    color:#2c3e50;
    border-radius: 5px;
    padding: 0.5rem;
    width: 100%;
}

.form label {
    display: block;
    margin-bottom: 0.5em;
}

.form-group {
    margin-bottom: 1rem;
}

sup {
    color: #c0392b;
}

.form-buttons{
    margin-top: 2rem;
}

.list-actions-button-details,
.list-actions-button-edit,
.list-actions-button-delete,
.button-add,
.form-button-submit,
.form-button-cancel,
.form-button-edit,
.form-button-cancel-detail,
.form-button-edit-detail {
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 0.8rem;
}

.button-add,
.form-button-submit,
.form-button-cancel,
.form-button-edit,
.form-button-cancel-detail,
.form-button-edit-detail {
    padding: 0.5rem 1rem;
    transition: background-color .3s;
}

.button-add,
.form-button-submit
{
    background-color: #27ae60;
}

.button-add:hover,
.form-button-submit:hover
{
    background-color: #2ecc71;
}

.form-button-cancel,
.list-actions-button-delete,
.form-button-cancel-detail {
    background-color: #c0392b;
}

.form-button-edit,
.form-button-edit-detail{
    background-color: #f39c12;
}

.form-button-edit:hover,
.list-actions-button-edit:hover,
.form-button-edit-detail:hover{
    background-color: #f1c40f;
}

.form-button-cancel:hover,
.list-actions-button-delete:hover,
.form-button-cancel-detail:hover {
    background-color: #e74c3c;
}

.form-button-submit,
.form-button-cancel,
.form-button-edit,
.form-button-cancel-detail,
.form-button-edit-detail {
    width: 100%;
}

.form-button-cancel,
.form-button-edit {
    box-sizing: border-box;
    display: block;
}

.form-button-cancel-detail,
.form-button-edit-detail {
    box-sizing: border-box;
    display: inline;
}

.form-button-cancel-detail {
    margin: 2rem;
}



.form-button-submit,
.form-button-edit {
    margin-bottom: 0.5rem;
}