<%- include('./fragments/header.ejs') %>

    <main class="MainPage">
        <h2>Strona główna</h2>
        <p><span>TomoTechShop</span> to jedna z najsilniejszych marek konsumenckich na rynku i pierwszy adres dla
            pasjonatów nowych
            technologii oraz osób poszukujących najszerszej oferty elektroniki użytkowej. Sieć dynamicznie rozwija się
            we wszystkich kanałach sprzedaży, wyznacza nowe standardy w zakresie asortymentu i jakości obsługi.
            MediaMarkt wyprzedza trendy rynkowe i innowacyjnie wychodzi naprzeciw oczekiwaniom współczesnego konsumenta.
            Jesteśmy przewodnikiem po świecie nowoczesnych technologii.</p>
        <p class="MainParagraph">Lider rynku o ugruntowanej pozycji </p>
        <p><span>TomoTechShop</span> jest liderem dystrybucji elektroniki użytkowej w Europie, obecnym w 14 krajach
            Starego
            Kontynentu.
            Mamy ponad 35-letnie doświadczenie w branży, które pozwoliło nam zbudować gęstą sieć sprzedaży i zaistnieć
            we wszystkich dostępnych kanałach dystrybucji. Na rynku polskim działamy już od dwóch dekad. Jesteśmy
            odważni i wyraziści – wytrwale szukamy innowacyjnych rozwiązań, wyprzedzając oczekiwania naszych Klientów, a
            w kreowaniu wizerunku naszej marki staramy się budzić emocje, które pozytywnie zapadają w pamięć.</p>
        <p class="MainParagraph">Klient w centrum uwagi </p>
        <p>Kluczem do naszego sukcesu jest strategia orientacji na klienta. Nasza oferta to nie tylko bogaty asortyment
            najnowocześniejszych produktów, ale także albo przede wszystkim rozbudowany portfel usług i różnorodne
            pakiety okołosprzedażowe. Staramy się odpowiadać na wszystkie potrzeby współczesnych konsumentów, a nawet je
            wyprzedzać. Dlatego nieustannie poszerzamy naszą ofertę i doskonalimy standardy obsługi, aby nasi klienci
            chętnie do nas wracali.</p>
        <p class="MainParagraph">Najszerszy asortyment</p>
        <p>Wyróżnia nas kompleksowa oferta, obejmująca dziesiątki tysięcy produktów. Pełen wybór urządzeń i rozwiązań
            mobilnych, praktycznych i modnych akcesoriów, premierowe produkty najbardziej pożądanych marek - MediaMarkt
            to prawdziwy raj dla wszystkich fanów cyfrowych technologii i innowacji. To również szeroki asortyment
            użytkowego sprzętu do wyposażenia domu i biura oraz produkty związane z realizacją pasji i uatrakcyjniające
            wolny czas.</p>
    </main>
    <%- include('./fragments/footer.ejs') %>

    