<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TomoTechShop-s18969</title>
    <link rel="stylesheet" href="../../CSS/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">

    <script type="application/javascript" src="JS/validationCommon.js"></script>



</head>

<body>
    <header>
        <h1>TomoTechShop</h1>
        <img src="../../Images/LogoBlack.PNG" alt="Images shows logo TomoTechShop">
    </header>

    <nav>
        <ul>
            <li><a href="/" class="active">Strona główna</a></li>
            <li><a href="/Produkty">Produkty</a></li>
            <li><a href="/Zamowienia">Zamówienia</a></li>
            <li><a href="/PozycjaZamowien">Pozycja zamówień</a></li>
        </ul>
    </nav>
