<%- include('../../fragments/header.ejs') %>

    <main>
        <h2>Lista zamówień</h2>
        <div class="lista" >
        <table class="table-list">
            <thead>
                <tr>
                    <th scope="col">Imie</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Kwota</th>
                    <th scope="col">Akcje</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td data-label="Imie">Jan</td>
                    <td data-label="Nazwisko">Kowalski</td>
                    <td data-label="Kwota">2299 zł</td>
                    <td data-label="Akcje">
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="/Zamowienia/details/:empId">Szczegóły</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td scope="row" data-label="Imie">Adam</td>
                    <td data-label="Nazwisko">Nowak</td>
                    <td data-label="Kwota">1499 zł</td>
                    <td data-label="Akcje">
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="">Szczegóły</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td scope="row" data-label="Imie">Grzegorz</td>
                    <td data-label="Nazwisko">Brzęczyszczykiewicz</td>
                    <td data-label="Kwota">199  zł</td>
                    <td data-label="Akcje">
                        <ul class="list-actions">
                            <li>
                                <a class="list-actions-button-details" href="">Szczegóły</a>
                            </li>
                            <li>
                                <a class="list-actions-button-edit" href="">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete" href="">Usuń</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                

            </tbody>
        </table>
        </div>
    </main>

    <p><a class="button-add" href="/Zamowienia/add">Dodaj nową pozycję zamówień</a></p>


    <%- include('../../fragments/footer.ejs') %>
